/* Файл: common-styles.css */
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

body {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: 400;
    margin: 0;
}

.x {
    background-color: none;
    justify-content: flex-end;
}

.y {
    background-color: none;
    justify-content: flex-end;
}

.gravitas-one-regular {
    font-family: "Gravitas One", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    font-size: 4vh;
}

h2 {
    font-size: 3vh;
}

p {
    font-size: 2vh;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.img-map {
    max-width: 760px;
}

a {
    color: #fca311;
}

/* Файл: variant14-table.css */
html,
body {
    height: 100%;
}

.layout-table {
    width: 100%;
    height: 100vh;
    border-collapse: collapse;
}

.layout-table td {
    padding: 0;
    vertical-align: top;
}

.content {
    display: flex;
    align-items: center;
    padding: 4vh;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/* Налаштування розмірів рядків */
.header-cell {
    height: 20vh;
}

.footer-cell {
    height: 20vh;
}

.center-footer-cell {
    height: 10vh;
}

.center-cell {
    height: auto;
}

.menu-cell {
    width: 25%;
}

.center-cell,
.center-footer-cell {
    width: 50%;
}

.pic-cell {
    width: 25%;
}

/* Застосовуємо стилі до блоків (з вашого original.css) */
.header {
    justify-content: space-between;
    color: #14213D;
    background-color: #fca311;
}

.menu {
    flex-direction: column;
    align-items: baseline;
    background-color: #14213D;
    color: #E5E5E5;
    font-size: 2vh;
}

.center {
    align-items: baseline;
    flex-direction: column;
    background-color: #E5E5E5;
    color: #14213D;
    font-size: 2vh;
}

.pic {
    justify-content: center;
    background-color: #14213D;
    color: #E5E5E5;
    flex-direction: column;
}

.center-footer {
    justify-content: center;
    background-color: #E5E5E5;
    color: #14213D;
}

.footer {
    justify-content: space-between;
    background-color: #fca311;
    color: #14213D;
}