@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: 400;
    background-color: #f6d13c;

}

.container {
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 5fr;
}

.header {
    background-color: #fff;
    width: 100%;
    font-size: 16px;
    display: flex;
    align-items: end;
}

p {
    margin: 0 2vw 2vw 12vw;
    width: 30vw;
}

.content {
    display: flex;
}

.left {
    background-color: #fff;
    width: 35vw;
}

.caption {
    width: 300px;
    padding: 8rem;
    margin-top: 4vw;
    margin-left: 20vw;
    background-color: #fff;
    font-size: 24px;
}

h1 {}

.right {
    width: 65vw;
}

.picture {
    margin-left: 10vw;
    margin-top: -16vh;
}

img {
    height: 40vw;
    width: 40vw;
    object-fit: cover;
}

.patua-one-regular {
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
}