@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-weight: 400;
    background-color: #f6d13c;

}

.container {
    height: 100%;
    display: grid;
    grid-template-rows: 2fr 5fr;
}

.header {
    background-color: #fff;
    width: 100%;
    font-size: 16px;
    display: flex;
    align-items: end;
}

p {
    margin: 0 2vw 2vw 16vw;
    width: 24vw;
}

.content {
    display: flex;
}

.left {
    background-color: #fff;
    width: 35vw;
}

.caption {
    position: relative;
    left: 15vw;
    top: 8vw;
    width: 300px;
    padding: 5vw 14vw 5vw 2vw;
    background-color: #fff;
    font-size: 2.5vh;
    z-index: 2;
}

.right {
    width: 65vw;
}

.picture {
    margin-left: 10vw;
    margin-top: -16vh;
    z-index: 1;
}

img {
    height: 40vw;
    width: 40vw;
    object-fit: cover;
}

.patua-one-regular {
    font-family: "Patua One", serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 768px) {
    .container {
        display: grid;
        grid-template-rows: 5fr 3fr;
    }

    .header {
        background-color: #fff;
        width: 100%;
        font-size: 4vw;
        display: flex;
        align-items: start;
    }

    p {
        margin: 15vw;
        width: 70vw;
    }

    .caption {
        position: relative;
        left: 15vw;
        top: 15vw;
        width: 40vw;
        padding: 8vw 25vw 8vw 2vw;
        background-color: #fff;
        font-size: 3vw;
        z-index: 2;
    }

    .picture {
        margin-left: -15vw;
        margin-top: -25vw;
        z-index: 1;
    }

    img {
        height: 80vw;
        width: 70vw;
        object-fit: cover;
    }
}